In [1]:
import pandas as pd
import numpy as np
import ast
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies=pd.read_csv("movies_dataset.csv")
movies.head()

/tmp/ipykernel_11073/44278105.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv("movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
movies.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [4]:
#Vamos a eliminar las columnas que no sean necesarias
movies.drop(['video','imdb_id','adult','original_title','poster_path','homepage'], axis=1, inplace=True)
movies

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,1.0
45462,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0
45463,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0
45464,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0
45465,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0

In [5]:
movies.isna().sum()
#Para poder ver si hay valores nulos y de ser necesario eliminar las filas que los contengan o bien modificar esos valores

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [6]:
#Llenamos los valores nulos de revenue con el valor o
movies['revenue']=movies['revenue'].fillna(0)

In [7]:
movies.isna().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      0
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [8]:
#Eliminamos las filas de la columna release_date que tengan valores nulos
movies=movies.dropna(subset='release_date')
movies.isna().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   2
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    249
spoken_languages             3
status                      83
tagline                  24981
title                        3
vote_average                 3
vote_count                   3
dtype: int64

In [9]:
#Para poder manipular datos de tipo fecha, pasamos la columna release_date de tipo obj a tipo datetime
movies['release_date']=pd.to_datetime(movies['release_date'], errors='coerce')
movies.dtypes

/tmp/ipykernel_11073/3830793000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date']=pd.to_datetime(movies['release_date'], errors='coerce')

belongs_to_collection            object
budget                           object
genres                           object
id                               object
original_language                object
overview                         object
popularity                       object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
vote_average                    float64
vote_count                      float64
dtype: object

In [10]:
#como saltó una advertencia vemos si existen datos nulos y si los hay los eliminamos
movies['release_date'].isna().sum()

3

In [11]:
movies=movies.dropna(subset='release_date')

In [12]:
movies['release_date'].isna().sum()

0

In [13]:
movies.isna().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
vote_count                   0
dtype: int64

movies['popularity']=pd.to_numeric(movies['popularity'])
movies.dtypes

In [14]:
#Creamos la columna release_year a partir de la release_date
movies['release_year']=movies['release_date'].dt.year
movies.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995

In [15]:
movies['budget']=pd.to_numeric(movies['budget'])

In [16]:
def calcular_return(row):
    revenue=row['revenue']
    budget=row['budget']
    if budget==0:
        return 0
    return revenue/budget

In [17]:
movies['return']=movies.apply(calcular_return, axis=1)
movies

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,26.0,1991,0.000000
45462,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,3.0,2011,0.000000
45463,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,6.0,2003,0.000000
45464,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,1917,0.000000
45465,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,0.0,2017,0.000000

In [18]:
movies['return'].describe()

count    4.537600e+04
mean     6.600428e+02
std      7.469329e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.239638e+07
Name: return, dtype: float64

In [19]:
movies.isna().sum()

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   0
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    246
spoken_languages             0
status                      80
tagline                  24978
title                        0
vote_average                 0
vote_count                   0
release_year                 0
return                       0
dtype: int64

In [20]:
movies['production_companies'][8]

"[{'name': 'Universal Pictures', 'id': 33}, {'name': 'Imperial Entertainment', 'id': 21437}, {'name': 'Signature Entertainment', 'id': 23770}]"

In [21]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [22]:
movies['genres']=movies['genres'].apply(convert)
movies['production_companies']=movies['production_companies'].apply(convert)
movies['production_countries']=movies['production_countries'].apply(convert)
movies['spoken_languages']=movies['spoken_languages'].apply(convert)

In [23]:
movies.dtypes

belongs_to_collection            object
budget                            int64
genres                           object
id                               object
original_language                object
overview                         object
popularity                       object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
vote_average                    float64
vote_count                      float64
release_year                      int64
return                          float64
dtype: object

In [24]:
def convertir(obj):
    L=[]
    if isinstance(obj,str) and '}' in obj:
        dic= ast.literal_eval(obj)
        return dic['name']

In [25]:
movies['belongs_to_collection']=movies['belongs_to_collection'].apply(convertir)

In [26]:
movies['id']=pd.to_numeric(movies['id'])

In [27]:
movies['id'].duplicated().sum()

30

In [28]:
movies = movies.drop_duplicates(movies.columns[movies.columns.isin(['id'])], keep='first')

In [29]:
movies

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,None,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,None,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,None,0,"[Drama, Action, Romance]",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",1991-05-13,0.0,104.0,[English],Released,NaN,Robin Hood,5.7,26.0,1991,0.000000
45462,None,0,[Drama],111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],2011-11-17,0.0,360.0,[],Released,NaN,Century of Birthing,9.0,3.0,2011,0.000000
45463,None,0,"[Action, Drama, Thriller]",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],2003-08-01,0.0,90.0,[English],Released,A deadly game of wits.,Betrayal,3.8,6.0,2003,0.000000
45464,None,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0,1917,0.000000
45465,None,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],[United Kingdom],2017-06-09,0.0,75.0,[English],Released,NaN,Queerama,0.0,0.0,2017,0.000000

Ya terminamos con la parte del dataframe de peliculas, empezamos a ver el deactores y directores, solo se necesita el nombre del actor o director y el id de las peliculas

In [30]:
credits=pd.read_csv("credits.csv")
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [31]:
credits.dtypes

cast    object
crew    object
id       int64
dtype: object

In [32]:
credits['cast'][2]

"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a9251416c75077a8d', 'gender': 2, 'id': 6837, 'name': 'Walter Matthau', 'order': 0, 'profile_path': '/xJVkvprOnzP5Zdh5y63y8HHniDZ.jpg'}, {'cast_id': 3, 'character': 'John Gustafson', 'credit_id': '52fe466a9251416c75077a91', 'gender': 2, 'id': 3151, 'name': 'Jack Lemmon', 'order': 1, 'profile_path': '/chZmNRYMtqkiDlatprGDH4BzGqG.jpg'}, {'cast_id': 4, 'character': 'Ariel Gustafson', 'credit_id': '52fe466a9251416c75077a95', 'gender': 1, 'id': 13567, 'name': 'Ann-Margret', 'order': 2, 'profile_path': '/jx5lTaJ5VXZHYB52gaOTAZ9STZk.jpg'}, {'cast_id': 5, 'character': 'Maria Sophia Coletta Ragetti', 'credit_id': '52fe466a9251416c75077a99', 'gender': 1, 'id': 16757, 'name': 'Sophia Loren', 'order': 3, 'profile_path': '/emKLhbji1c7BjcA2DdbWf0EP9zH.jpg'}, {'cast_id': 6, 'character': 'Melanie Gustafson', 'credit_id': '52fe466a9251416c75077a9d', 'gender': 1, 'id': 589, 'name': 'Daryl Hannah', 'order': 4, 'profile_path': '/4LLmp6AQdlj6ueGCRbVRSGvvFSt.jpg'}, {'cast_id': 9, 'character': 'Grandpa Gustafson', 'credit_id': '53e5fcc2c3a3684430000d65', 'gender': 2, 'id': 16523, 'name': 'Burgess Meredith', 'order': 5, 'profile_path': '/lm98oKloU33Q7QDIIMSyc4Pr2jA.jpg'}, {'cast_id': 10, 'character': 'Jacob Goldman', 'credit_id': '53e5fcd4c3a3684433000e1a', 'gender': 2, 'id': 7166, 'name': 'Kevin Pollak', 'order': 6, 'profile_path': '/kwu2T8CDnThZTzE88uiSgJ5eHXf.jpg'}]"

In [33]:
def convertir_actores(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [34]:
credits['cast']=credits['cast'].apply(convertir_actores)
credits['cast']

0        [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
1        [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
2        [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
3        [Whitney Houston, Angela Bassett, Loretta Devi...
4        [Steve Martin, Diane Keaton, Martin Short, Kim...
                               ...
45471          [Leila Hatami, Kourosh Tahami, Elham Korda]
45472    [Angel Aquino, Perry Dizon, Hazel Orencio, Joe...
45473    [Erika Eleniak, Adam Baldwin, Julie du Page, J...
45474    [Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...
45475                                                   []
Name: cast, Length: 45476, dtype: object

In [35]:
def convertir_directores(obj):
    L=''
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L=i['name']
    return L

In [36]:
credits['crew']=credits['crew'].apply(convertir_directores)
credits['crew']

0           John Lasseter
1            Joe Johnston
2           Howard Deutch
3         Forest Whitaker
4           Charles Shyer
               ...
45471    Hamid Nematollah
45472            Lav Diaz
45473      Mark L. Lester
45474    Yakov Protazanov
45475       Daisy Asquith
Name: crew, Length: 45476, dtype: object

In [37]:
credits=credits.rename(columns={'crew':'director'})

In [38]:
credits=credits.rename(columns={'cast':'actores'})

In [39]:
credits['id'].duplicated().sum()

44

In [40]:
credits = credits.drop_duplicates(credits.columns[credits.columns.isin(['id'])], keep='first')

In [41]:
credits

,actores,director,id
0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter,862
1,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston,8844
2,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch,15602
3,"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker,31357
4,"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer,11862
...,...,...,...
45471,"[Leila Hatami, Kourosh Tahami, Elham Korda]",Hamid Nematollah,439050
45472,"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",Lav Diaz,111109
45473,"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",Mark L. Lester,67758
45474,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov,227506
45475,[],Daisy Asquith,461257

In [42]:
unidos=pd.merge(movies, credits, on='id')

In [43]:
data=unidos.loc[unidos['director']=='John Lasseter']
data

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,actores,director
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,...,[English],Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
2239,None,120000000,"[Adventure, Animation, Comedy, Family]",9487,en,"On behalf of ""oppressed bugs everywhere,"" an i...",16.869209,"[Walt Disney Pictures, Pixar Animation Studios]",[United States of America],1998-11-25,...,[English],Released,An epic presentation of miniature proportions.,A Bug's Life,6.8,2379.0,1998,3.027157,"[Kevin Spacey, Julia Louis-Dreyfus, Hayden Pan...",John Lasseter
2994,Toy Story Collection,90000000,"[Animation, Comedy, Family]",863,en,"Andy heads off to Cowboy Camp, leaving his toy...",17.547693,[Pixar Animation Studios],[United States of America],1999-10-30,...,[English],Released,The toys are back!,Toy Story 2,7.3,3914.0,1999,5.526299,"[Tom Hanks, Tim Allen, Joan Cusack, Kelsey Gra...",John Lasseter
10651,None,0,[Animation],13925,en,A baby lamp finds a ball to play with and it's...,7.160378,[Pixar Animation Studios],[United States of America],1986-08-17,...,"[English, No Language]",Released,NaN,Luxo Jr.,7.1,148.0,1986,0.000000,[],John Lasseter
19089,None,0,[Animation],13927,en,"Babies are hardly monster-like, unless you're ...",6.058028,[Pixar Animation Studios],[United States of America],1988-08-01,...,[English],Released,NaN,Tin Toy,6.3,95.0,1988,0.000000,[],John Lasseter
19143,None,0,[Animation],13926,en,Life as the sole sale item in the clearance co...,3.907112,[Pixar Animation Studios],[United States of America],1987-08-17,...,"[English, No Language]",Released,NaN,Red's Dream,6.3,76.0,1987,0.000000,[],John Lasseter
19193,None,0,[Animation],13928,en,Life on a shelf as a snowman trapped in a snow...,5.509405,[Pixar Animation Studios],[United States of America],1989-01-01,...,[No Language],Released,NaN,Knick Knack,7.1,135.0,1989,0.000000,[],John Lasseter

In [44]:
retorno=data['return'].sum()
retorno=float(retorno)
retorno

21.00525680277778

In [45]:
def cantidad_ﬁlmaciones_mes(mes):
    '''Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron
estrenadas en el mes consultado en la totalidad del dataset.
Ejemplo de retorno: X cantidad de películas fueron estrenadas en el mes de X'''
    meses = {
        'enero': 'January',
        'febrero': 'February',
        'marzo': 'March',
        'abril': 'April',
        'mayo': 'May',
        'junio': 'June',
        'julio': 'July',
        'agosto': 'August',
        'septiembre': 'September',
        'octubre': 'October',
        'noviembre': 'November',
        'diciembre': 'December'
        }
    df_mes = movies[movies['release_date'].dt.month_name() == meses[mes].capitalize()]
    
    cantidad = len(df_mes)
    return '{} cantidad de películas fueron estrenadas el mes de {}'. format(cantidad,mes)

In [46]:
def cantidad_ﬁlmaciones_dia(dia):
    '''Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron
estrenadas en día consultado en la totalidad del dataset.
Ejemplo de retorno: X cantidad de películas fueron estrenadas en los días X'''
    dias = {
    'lunes': 'Monday',
    'martes': 'Tuesday',
    'miércoles': 'Wednesday',
    'miercoles': 'Wednesday',
    'jueves': 'Thursday',
    'viernes': 'Friday',
    'sábado': 'Saturday',
    'sabado': 'Saturday',
    'domingo': 'Sunday'
    }
    df_dia = movies[movies['release_date'].dt.day_name() == dias[dia].capitalize()]
    
    cantidad = len(df_dia)
    
    
    return {cantidad,'cantidad de películas fueron estrenadas en el día',dia}

In [47]:
def score_titulo(titulo):
    '''Se ingresa el título de una ﬁlmación esperando como respuesta el título, el año de estreno y el score.
Ejemplo de retorno: La película X fue estrenada en el año X con un score/popularidad de X'''
    data=movies.loc[movies['title']==titulo]
    if data.shape[0]>1:
        data=data.iloc[0]
    score=float(data['popularity'])
    anio=int(data['release_year'])
    return ('La película',titulo,'fue estrenada en el año',anio,'con un score/popularidad de',score)

In [48]:
def votos_titulo(titulo):
    '''Se ingresa el título de una ﬁlmación esperando como respuesta el título, la cantidad de votos y el valor 
    promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, 
    debemos contar con un mensaje avisando que no cumple esta condición y que por ende, 
    no se devuelve ningun valor.
    Ejemplo de retorno: La película X fue estrenada en el año X. La misma cuenta con un total de X 
    valoraciones, con un promedio de X'''
    data=movies.loc[movies['title']==titulo]
    if data.shape[0]>1:
        data=data.iloc[0]
    if float(data['vote_count'])<2000:
        return 'La pelicula no cuenta con suficientes votos'
    votos=data['vote_average']
    cantidad=data['vote_count']
    anio=int(data['release_year'])
    return ('La película',titulo,'fue estrenada en el año',anio,'. La misma cuenta con un total de',cantidad,'valoraciones, con un promedio de',votos)

In [49]:
def get_actor(nombre_actor):
    '''Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el 
    éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha 
    participado y el promedio de retorno. La deﬁnición no deberá considerar directores.
    Ejemplo de retorno: El actor X ha participado de X cantidad de ﬁlmaciones, el mismo ha
    conseguido un retorno de X con un promedio de X por ﬁlmación'''
    cantidad = unidos['actores'].apply(lambda x: nombre_actor in x).sum()
    retorno = unidos.loc[unidos['actores'].apply(lambda x: nombre_actor in x), 'return'].sum()
    promedio = unidos.loc[unidos['actores'].apply(lambda x: nombre_actor in x), 'return'].mean()
    return ('El actor {} ha participado de {} de filmaciones, el mismo ha conseguido un retorno de {}, con un promedio de {} por filmación'. format(nombre_actor, cantidad, round(retorno,2), round(promedio,2)))

In [50]:
def get_director(nombre_director):
    '''Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el
    éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada
    película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.'''
    unidos=pd.merge(movies, credits, on='id')
    data=unidos.loc[unidos['director']==nombre_director]
    data=data.drop(['belongs_to_collection','genres','id','original_language','overview','popularity','production_companies','production_countries','runtime','spoken_languages','status','tagline','vote_average','vote_count','release_year','actores'], axis=1)
    retorno=float(data['return'].sum())
    print('el retorno total es:',retorno)
    #return data
    #print('el retorno total es:',retorno)
    #data.drop(['popularity','vote_average','vote_count','release_year','actores','director'],axis=1,inplace=True)
    #devolver=data.to_json()
    return {'director':nombre_director, 'retorno_total_director':retorno, 'peliculas':data['title'], 'fecha de estreno':data['release_date'], 'retorno_pelicula':data['return'], 'budget_pelicula':data['budget'], 'revenue_pelicula':data['revenue']}

In [51]:
cantidad_ﬁlmaciones_dia('domingo')

{3608, 'cantidad de películas fueron estrenadas en el día', 'domingo'}

In [52]:
cantidad_ﬁlmaciones_mes('enero')

'5909 cantidad de películas fueron estrenadas el mes de enero'

In [53]:
score_titulo('Toy Story')

('La película',
 'Toy Story',
 'fue estrenada en el año',
 1995,
 'con un score/popularidad de',
 21.946943)

In [54]:
votos_titulo('Skyfall')

('La película',
 'Skyfall',
 'fue estrenada en el año',
 2012,
 '. La misma cuenta con un total de',
 19261    7718.0
 Name: vote_count, dtype: float64,
 'valoraciones, con un promedio de',
 19261    6.9
 Name: vote_average, dtype: float64)

In [55]:
get_director('John Lasseter')

el retorno total es: 21.00525680277778

{'director': 'John Lasseter',
 'retorno_total_director': 21.00525680277778,
 'peliculas': 0           Toy Story
 2239     A Bug's Life
 2994      Toy Story 2
 10651        Luxo Jr.
 19089         Tin Toy
 19143     Red's Dream
 19193     Knick Knack
 Name: title, dtype: object,
 'fecha de estreno': 0       1995-10-30
 2239    1998-11-25
 2994    1999-10-30
 10651   1986-08-17
 19089   1988-08-01
 19143   1987-08-17
 19193   1989-01-01
 Name: release_date, dtype: datetime64[ns],
 'retorno_pelicula': 0        12.451801
 2239      3.027157
 2994      5.526299
 10651     0.000000
 19089     0.000000
 19143     0.000000
 19193     0.000000
 Name: return, dtype: float64,
 'budget_pelicula': 0         30000000
 2239     120000000
 2994      90000000
 10651            0
 19089            0
 19143            0
 19193            0
 Name: budget, dtype: int64,
 'revenue_pelicula': 0        373554033.0
 2239     363258859.0
 2994     497366869.0
 10651            0.0
 19089            0.0
 19143            0.0
 19193            0.0
 Name: revenue, dtype: float64}

In [56]:
get_actor('Tom Hanks')

'El actor Tom Hanks ha participado de 71 de filmaciones, el mismo ha conseguido un retorno de 178.85, con un promedio de 2.52 por filmación'

In [57]:
unidos=pd.merge(movies, credits, on='id')
unidos.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,actores,director
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,...,[English],Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",John Lasseter
1,None,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,...,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",Joe Johnston
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,...,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",Howard Deutch
3,None,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,...,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760,"[Whitney Houston, Angela Bassett, Loretta Devi...",Forest Whitaker
4,Father of the Bride Collection,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,...,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000,"[Steve Martin, Diane Keaton, Martin Short, Kim...",Charles Shyer

In [58]:
unidos.drop(['belongs_to_collection','budget','id','overview','popularity','production_companies','production_countries','spoken_languages','status','tagline','vote_count','return','actores','director'],axis=1,inplace=True)

In [59]:
unidos.drop(['release_date','revenue'],axis=1,inplace=True)

In [60]:
unidos

,genres,original_language,runtime,title,vote_average,release_year
0,"[Animation, Comedy, Family]",en,81.0,Toy Story,7.7,1995
1,"[Adventure, Fantasy, Family]",en,104.0,Jumanji,6.9,1995
2,"[Romance, Comedy]",en,101.0,Grumpier Old Men,6.5,1995
3,"[Comedy, Drama, Romance]",en,127.0,Waiting to Exhale,6.1,1995
4,[Comedy],en,106.0,Father of the Bride Part II,5.7,1995
...,...,...,...,...,...,...
45340,"[Drama, Action, Romance]",en,104.0,Robin Hood,5.7,1991
45341,[Drama],tl,360.0,Century of Birthing,9.0,2011
45342,"[Action, Drama, Thriller]",en,90.0,Betrayal,3.8,2003
45343,[],en,87.0,Satan Triumphant,0.0,1917
45344,[],en,75.0,Queerama,0.0,2017

In [61]:
unidos=unidos.dropna()

In [62]:
unidos.isna().sum()

genres               0
original_language    0
runtime              0
title                0
vote_average         0
release_year         0
dtype: int64

In [63]:
unidos=unidos[unidos['vote_average']>7.5]
unidos

,genres,original_language,runtime,title,vote_average,release_year
0,"[Animation, Comedy, Family]",en,81.0,Toy Story,7.7,1995
5,"[Action, Crime, Drama, Thriller]",en,170.0,Heat,7.7,1995
15,"[Drama, Crime]",en,178.0,Casino,7.8,1995
28,"[Fantasy, Science Fiction, Adventure]",fr,108.0,The City of Lost Children,7.6,1995
46,"[Crime, Mystery, Thriller]",en,127.0,Se7en,8.1,1995
...,...,...,...,...,...,...
45279,"[Romance, Comedy]",fi,90.0,Thick Lashes of Lauri Mäntyvaara,8.0,2017
45298,[Drama],en,4.0,Dyketactics,8.0,1974
45317,"[Family, Animation, Romance, Comedy]",en,4.0,In a Heartbeat,8.3,2017
45323,"[Comedy, Fantasy, Science Fiction]",fr,3.0,The Man with the Rubber Head,7.6,1901
45341,[Drama],tl,360.0,Century of Birthing,9.0,2011

In [64]:
unidos=unidos[unidos['runtime'].between(80,250)]
unidos

,genres,original_language,runtime,title,vote_average,release_year
0,"[Animation, Comedy, Family]",en,81.0,Toy Story,7.7,1995
5,"[Action, Crime, Drama, Thriller]",en,170.0,Heat,7.7,1995
15,"[Drama, Crime]",en,178.0,Casino,7.8,1995
28,"[Fantasy, Science Fiction, Adventure]",fr,108.0,The City of Lost Children,7.6,1995
46,"[Crime, Mystery, Thriller]",en,127.0,Se7en,8.1,1995
...,...,...,...,...,...,...
45205,"[Drama, Comedy, Foreign]",en,88.0,Squint Your Eyes,8.0,2003
45208,[Drama],en,81.0,Love,7.6,1927
45214,"[Comedy, Drama, War]",de,102.0,Bye Bye Germany,8.7,2017
45232,[Documentary],en,177.0,A History of Horror with Mark Gatiss,9.0,2010
45279,"[Romance, Comedy]",fi,90.0,Thick Lashes of Lauri Mäntyvaara,8.0,2017

In [65]:
bins = [1900, 1950, 1970, 1990, 2010, 2023]  # Define los límites de los rangos
labels = ['1900-1950', '1950-1970', '1970-1990', '1990-2010', '2010-2023']  # Etiquetas de los rangos
unidos['year_range'] = pd.cut(unidos['release_year'], bins=bins, labels=labels, right=False)

/tmp/ipykernel_11073/930143399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unidos['year_range'] = pd.cut(unidos['release_year'], bins=bins, labels=labels, right=False)

In [66]:
unidos

,genres,original_language,runtime,title,vote_average,release_year,year_range
0,"[Animation, Comedy, Family]",en,81.0,Toy Story,7.7,1995,1990-2010
5,"[Action, Crime, Drama, Thriller]",en,170.0,Heat,7.7,1995,1990-2010
15,"[Drama, Crime]",en,178.0,Casino,7.8,1995,1990-2010
28,"[Fantasy, Science Fiction, Adventure]",fr,108.0,The City of Lost Children,7.6,1995,1990-2010
46,"[Crime, Mystery, Thriller]",en,127.0,Se7en,8.1,1995,1990-2010
...,...,...,...,...,...,...,...
45205,"[Drama, Comedy, Foreign]",en,88.0,Squint Your Eyes,8.0,2003,1990-2010
45208,[Drama],en,81.0,Love,7.6,1927,1900-1950
45214,"[Comedy, Drama, War]",de,102.0,Bye Bye Germany,8.7,2017,2010-2023
45232,[Documentary],en,177.0,A History of Horror with Mark Gatiss,9.0,2010,2010-2023
45279,"[Romance, Comedy]",fi,90.0,Thick Lashes of Lauri Mäntyvaara,8.0,2017,2010-2023

In [67]:
unidos.drop(['release_year'],axis=1,inplace=True)
unidos

/tmp/ipykernel_11073/1602521651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unidos.drop(['release_year'],axis=1,inplace=True)

,genres,original_language,runtime,title,vote_average,year_range
0,"[Animation, Comedy, Family]",en,81.0,Toy Story,7.7,1990-2010
5,"[Action, Crime, Drama, Thriller]",en,170.0,Heat,7.7,1990-2010
15,"[Drama, Crime]",en,178.0,Casino,7.8,1990-2010
28,"[Fantasy, Science Fiction, Adventure]",fr,108.0,The City of Lost Children,7.6,1990-2010
46,"[Crime, Mystery, Thriller]",en,127.0,Se7en,8.1,1990-2010
...,...,...,...,...,...,...
45205,"[Drama, Comedy, Foreign]",en,88.0,Squint Your Eyes,8.0,1990-2010
45208,[Drama],en,81.0,Love,7.6,1900-1950
45214,"[Comedy, Drama, War]",de,102.0,Bye Bye Germany,8.7,2010-2023
45232,[Documentary],en,177.0,A History of Horror with Mark Gatiss,9.0,2010-2023
45279,"[Romance, Comedy]",fi,90.0,Thick Lashes of Lauri Mäntyvaara,8.0,2010-2023

In [68]:
aux=unidos
aux.set_index('title', inplace=True)
aux

,genres,original_language,runtime,vote_average,year_range
title,,,,,
Toy Story,"[Animation, Comedy, Family]",en,81.0,7.7,1990-2010
Heat,"[Action, Crime, Drama, Thriller]",en,170.0,7.7,1990-2010
Casino,"[Drama, Crime]",en,178.0,7.8,1990-2010
The City of Lost Children,"[Fantasy, Science Fiction, Adventure]",fr,108.0,7.6,1990-2010
Se7en,"[Crime, Mystery, Thriller]",en,127.0,8.1,1990-2010
...,...,...,...,...,...
Squint Your Eyes,"[Drama, Comedy, Foreign]",en,88.0,8.0,1990-2010
Love,[Drama],en,81.0,7.6,1900-1950
Bye Bye Germany,"[Comedy, Drama, War]",de,102.0,8.7,2010-2023
A History of Horror with Mark Gatiss,[Documentary],en,177.0,9.0,2010-2023
Thick Lashes of Lauri Mäntyvaara,"[Romance, Comedy]",fi,90.0,8.0,2010-2023

In [69]:
year_range_codificado = pd.get_dummies(unidos['year_range'])
year_range_codificado

,1900-1950,1950-1970,1970-1990,1990-2010,2010-2023
title,,,,,
Toy Story,0,0,0,1,0
Heat,0,0,0,1,0
Casino,0,0,0,1,0
The City of Lost Children,0,0,0,1,0
Se7en,0,0,0,1,0
...,...,...,...,...,...
Squint Your Eyes,0,0,0,1,0
Love,1,0,0,0,0
Bye Bye Germany,0,0,0,0,1
A History of Horror with Mark Gatiss,0,0,0,0,1
Thick Lashes of Lauri Mäntyvaara,0,0,0,0,1

In [109]:
unidos=unidos[unidos['original_language'].isin(['en','de','es','fr','it'])]

In [110]:
language_codificado=pd.get_dummies(unidos['original_language'])
language_codificado

                                      de  en  es  fr  it
title
Toy Story                              0   1   0   0   0
Heat                                   0   1   0   0   0
Casino                                 0   1   0   0   0
The City of Lost Children              0   0   0   1   0
Se7en                                  0   1   0   0   0
...                                   ..  ..  ..  ..  ..
Enlightened blood                      0   0   1   0   0
Squint Your Eyes                       0   1   0   0   0
Love                                   0   1   0   0   0
Bye Bye Germany                        1   0   0   0   0
A History of Horror with Mark Gatiss   0   1   0   0   0

[1877 rows x 5 columns]

In [111]:
mldf=pd.merge(unidos, year_range_codificado, on='title')

In [112]:
mldf=pd.merge(unidos, language_codificado, on='title')

In [113]:
mldf

,genres,original_language,runtime,vote_average,year_range,de,en,es,fr,it
title,,,,,,,,,,
Toy Story,"[Animation, Comedy, Family]",en,81.0,7.7,1990-2010,0,1,0,0,0
Heat,"[Action, Crime, Drama, Thriller]",en,170.0,7.7,1990-2010,0,1,0,0,0
Casino,"[Drama, Crime]",en,178.0,7.8,1990-2010,0,1,0,0,0
The City of Lost Children,"[Fantasy, Science Fiction, Adventure]",fr,108.0,7.6,1990-2010,0,0,0,1,0
Se7en,"[Crime, Mystery, Thriller]",en,127.0,8.1,1990-2010,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
Enlightened blood,[],es,104.0,8.3,1990-2010,0,0,1,0,0
Squint Your Eyes,"[Drama, Comedy, Foreign]",en,88.0,8.0,1990-2010,0,1,0,0,0
Love,[Drama],en,81.0,7.6,1900-1950,0,1,0,0,0
Bye Bye Germany,"[Comedy, Drama, War]",de,102.0,8.7,2010-2023,1,0,0,0,0
A History of Horror with Mark Gatiss,[Documentary],en,177.0,9.0,2010-2023,0,1,0,0,0

In [114]:
mldf.drop(['original_language','year_range'],axis=1,inplace=True)
mldf

,genres,runtime,vote_average,de,en,es,fr,it
title,,,,,,,,
Toy Story,"[Animation, Comedy, Family]",81.0,7.7,0,1,0,0,0
Heat,"[Action, Crime, Drama, Thriller]",170.0,7.7,0,1,0,0,0
Casino,"[Drama, Crime]",178.0,7.8,0,1,0,0,0
The City of Lost Children,"[Fantasy, Science Fiction, Adventure]",108.0,7.6,0,0,0,1,0
Se7en,"[Crime, Mystery, Thriller]",127.0,8.1,0,1,0,0,0
...,...,...,...,...,...,...,...,...
Enlightened blood,[],104.0,8.3,0,0,1,0,0
Squint Your Eyes,"[Drama, Comedy, Foreign]",88.0,8.0,0,1,0,0,0
Love,[Drama],81.0,7.6,0,1,0,0,0
Bye Bye Germany,"[Comedy, Drama, War]",102.0,8.7,1,0,0,0,0
A History of Horror with Mark Gatiss,[Documentary],177.0,9.0,0,1,0,0,0

In [115]:
v1 = mldf["genres"].apply(pd.Series)
v11=pd.get_dummies(v1[0])
v12=pd.get_dummies(v1[1])
v1=pd.merge(v11,v12,on='title')

/tmp/ipykernel_11073/3002221265.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  v1 = mldf["genres"].apply(pd.Series)

In [116]:
mldf=pd.merge(mldf,v1,on='title')
mldf

,genres,runtime,vote_average,de,en,es,fr,it,Action_x,Adventure_x,...,History_y,Horror_y,Music_y,Mystery_y,Romance_y,Science Fiction_y,TV Movie_y,Thriller_y,War_y,Western_y
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,"[Animation, Comedy, Family]",81.0,7.7,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Heat,"[Action, Crime, Drama, Thriller]",170.0,7.7,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Casino,"[Drama, Crime]",178.0,7.8,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The City of Lost Children,"[Fantasy, Science Fiction, Adventure]",108.0,7.6,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Se7en,"[Crime, Mystery, Thriller]",127.0,8.1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Enlightened blood,[],104.0,8.3,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Squint Your Eyes,"[Drama, Comedy, Foreign]",88.0,8.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Love,[Drama],81.0,7.6,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bye Bye Germany,"[Comedy, Drama, War]",102.0,8.7,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A History of Horror with Mark Gatiss,[Documentary],177.0,9.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
mldf.drop(['genres'],axis=1,inplace=True)
mldf

,runtime,vote_average,de,en,es,fr,it,Action_x,Adventure_x,Animation_x,...,History_y,Horror_y,Music_y,Mystery_y,Romance_y,Science Fiction_y,TV Movie_y,Thriller_y,War_y,Western_y
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,81.0,7.7,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Heat,170.0,7.7,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Casino,178.0,7.8,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The City of Lost Children,108.0,7.6,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Se7en,127.0,8.1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Enlightened blood,104.0,8.3,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Squint Your Eyes,88.0,8.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Love,81.0,7.6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bye Bye Germany,102.0,8.7,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A History of Horror with Mark Gatiss,177.0,9.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [118]:
mldf = mldf.loc[~mldf.index.duplicated(keep='first')]

In [119]:
mldf

,runtime,vote_average,de,en,es,fr,it,Action_x,Adventure_x,Animation_x,...,History_y,Horror_y,Music_y,Mystery_y,Romance_y,Science Fiction_y,TV Movie_y,Thriller_y,War_y,Western_y
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,81.0,7.7,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Heat,170.0,7.7,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Casino,178.0,7.8,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The City of Lost Children,108.0,7.6,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
Se7en,127.0,8.1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Enlightened blood,104.0,8.3,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Squint Your Eyes,88.0,8.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Love,81.0,7.6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bye Bye Germany,102.0,8.7,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A History of Horror with Mark Gatiss,177.0,9.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [120]:
# Calcula la similitud del coseno entre las películas
similarity_matrix = cosine_similarity(mldf.values)

# Convierte la matriz de similitud en un DataFrame
similarity_df = pd.DataFrame(similarity_matrix, index=mldf.index, columns=mldf.index)

In [122]:
similarity_df.to_csv('similitud.csv')

In [123]:
similarity_df

title,Toy Story,Heat,Casino,The City of Lost Children,Se7en,The Usual Suspects,Lamerica,The Postman,La Haine,Braveheart,...,24×36,Zero 3,Geronimo,LA 92,The Spider Labyrinth,Enlightened blood,Squint Your Eyes,Love,Bye Bye Germany,A History of Horror with Mark Gatiss
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,1.000000,0.998569,0.998496,0.999345,0.999295,0.999585,0.999257,0.999345,0.999567,0.998480,...,0.999762,0.999786,0.999424,0.999647,0.999550,0.999613,0.999851,0.999773,0.999584,0.998845
Heat,0.998569,1.000000,0.999966,0.999508,0.999732,0.999446,0.999616,0.999508,0.999226,0.999965,...,0.998390,0.998586,0.999508,0.999418,0.998828,0.999312,0.998793,0.998704,0.999012,0.999934
Casino,0.998496,0.999966,1.000000,0.999475,0.999706,0.999451,0.999637,0.999475,0.999235,0.999937,...,0.998310,0.998511,0.999525,0.999373,0.998768,0.999264,0.998790,0.998702,0.998957,0.999928
The City of Lost Children,0.999345,0.999508,0.999475,1.000000,0.999758,0.999721,0.999753,0.999744,0.999811,0.999466,...,0.999289,0.999409,0.999870,0.999773,0.999511,0.999782,0.999472,0.999450,0.999619,0.999651
Se7en,0.999295,0.999732,0.999706,0.999758,1.000000,0.999770,0.999793,0.999758,0.999664,0.999700,...,0.999206,0.999338,0.999787,0.999811,0.999407,0.999734,0.999441,0.999407,0.999535,0.999837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Enlightened blood,0.999613,0.999312,0.999264,0.999782,0.999734,0.999816,0.999754,0.999782,0.999850,0.999253,...,0.999603,0.999692,0.999837,0.999874,0.999717,1.000000,0.999701,0.999706,0.999796,0.999507
Squint Your Eyes,0.999851,0.998793,0.998790,0.999472,0.999441,0.999785,0.999497,0.999472,0.999767,0.998711,...,0.999756,0.999795,0.999649,0.999738,0.999604,0.999701,1.000000,0.999931,0.999649,0.999046
Love,0.999773,0.998704,0.998702,0.999450,0.999407,0.999798,0.999472,0.999450,0.999785,0.998617,...,0.999830,0.999859,0.999641,0.999744,0.999633,0.999706,0.999931,1.000000,0.999670,0.998973
Bye Bye Germany,0.999584,0.999012,0.998957,0.999619,0.999535,0.999685,0.999569,0.999799,0.999743,0.998999,...,0.999600,0.999671,0.999682,0.999748,0.999651,0.999796,0.999649,0.999670,1.000000,0.999238
A History of Horror with Mark Gatiss,0.998845,0.999934,0.999928,0.999651,0.999837,0.999564,0.999737,0.999651,0.999426,0.999925,...,0.998762,0.998871,0.999660,0.999646,0.999070,0.999507,0.999046,0.998973,0.999238,1.000000